:root {
  font-family: var(--pa-font-family-roboto, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif);
  line-height: var(--pa-line-height-200, 1.5);
  font-weight: var(--pa-font-weight-400, 400);
  font-size: var(--pa-font-size-100, 14px);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

